# IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr
out/
target/

# Java
*.class
*.jar
*.war
*.ear

# Maven
target/

# Gradle
.gradle/
build/

# Logs
*.log

# OS-specific files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db